.b-bottom-right {
    border-right: 15px solid #75F4F4;
    border-bottom: 15px solid #75F4F4;
}

.b-bottom {
    border-bottom: 15px solid #75F4F4;
}

.b-right {
    border-right: 15px solid #75F4F4;
}

.square {
    min-width: 100px;
    min-height: 100px;
    font-size: 64px;
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}
.fc-aqua {
    color: #468FAF;
}

.fc-white {
    color: #EAFFFD;
}

@media only screen and (max-width: 600px) {
    .square {
        min-width: 45px;
        min-height: 45px;
        font-size: 38px;
        padding: 20px;
    }
    .b-bottom-right {
        border-width: 8px;
    }
    
    .b-bottom {
        border-width: 8px;
    }
    
    .b-right {
        border-width: 8px;
    }
    
}